// color
$primary:#79ccff;
$mode-dark:#4d4d4d;
$mode-light:#f4f4f4;

// Neutrl color:中性色
$White:#fff;
$Light:#f2f7fa;
$Light-Gray:#e7ebee;
$Gray:#c8cacc;
$Dark-Gray:#a9acad;
$Deep-Gray:#828486;
$Charcoal:#393a3a;
$Back:#0a0a0a;

// alpha
$alpha-20:0.2;
$alpha-30:0.3;
$alpha-40:0.4;
$alpha-50:0.5;
