@use "reset";
@use "variables" as *;
.title {
    text-align: center;

    h2 {
        font-family: v.$family-en;
    }
    h3 {
        font-family: v.$family-tc;
        color: rgba(v.$primary, v.$alpha-20);
    }
}