// color
$primary:#79ccff;
$mode-dark:#4d4d4d;
$mode-light:#f4f4f4;

// Neutrl color:中性色
$White:#fff;
$Light:#f2f7fa;
$Light-Gray:#e7ebee;
$Gray:#c8cacc;
$Dark-Gray:#a9acad;
$Deep-Gray:#828486;
$Charcoal:#393a3a;
$Back:#0a0a0a;

// alpha
$alpha-20:0.2;
$alpha-30:0.3;
$alpha-40:0.4;
$alpha-50:0.5;

// font-family
$family-en: Ashley_Southine, sans;
$family-tc:"LXGW WenKai TC",cursive;

// font-size
$f-s-xs: .75rem;
$f-s-sm: .85rem;
$f-s-md:1rem;
$f-s-lg:1.2rem;
$f-s-xl:1.5rem;
$f-s-xxl:1.8rem;
$f-s-ex:4rem;

// spacing
$spacing-sm:15px;
$spacing-md:20px;
$spacing-lg:25px;
$spacing-xl:30px;

$spacing-x-sm:0 15px;
$spacing-x-md:0 20px;
$spacing-x-lg:0 25px;
$spacing-x-xl:0 30px;

$spacing-y-xs:10px 0;
$spacing-y-sm:15px 0;
$spacing-y-md:20px 0;
$spacing-y-lg:25px 0;
$spacing-y-xl:30px 0;

// radius
$radius-sm:6px;
$radius-md:12px;
$radius-lg:24px;